body {
  padding-top: 80px;
  min-height:1800px;
}

/*导航*/
.navbar-toggle {
  float:left;
}
.navbar-btn { margin-left:1em;}
.navbar nav {
 color:white;
}
.navbar-inverse {
    background:#31353d;
}
.btn-default {
  background-color:#dedede;
  font-weight:600;
}
.btn-default:hover{
  color:#fff;
  background-color:#50b187;
  border:1px solid #50b187;
}
/*<!--购物车--!>*/
.cd-cart-trigger {
  float:right;
}
/*模态层*/
.register :hover {
}
.modal-content {
  background-color:#eee;  
}

/*页脚*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

/*轮播内容*/
.carousel { 
  margin-bottom: 40px;
  max-height: 630px;
}
.carousel .item {
  max-height: 630px;
  background-color: #777;
}
.carousel-inner > .item > img {
  min-width: 100%;
  max-height: 630px;
}

/*主页图文*/
.featurette-divider { margin:80px 0;}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .featurette-caption p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
    .featurette-heading {
      margin-top: 120px;
    }
}