@model WeiXinStore.Models.ProductListViewModel
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*图片轮播*@
<div id="myCarousel" class="carousel slide">
    @*轮播指标*@
    <ol class="carousel-indicators">
        <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#my-carousel" data-slide-to="1" ></li>
    </ol>
    @*轮播项目*@
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/images/cdfd226egw1ethr1iovaxj21hc0u0wq9.jpg" alt="First slide"/>
            <div class="container">
                <div class="carousel-caption">
                    <h1>优秀的团队</h1>
                    <p>我们拥有完善的管理体系和售后团队，我们都热爱音乐热爱生活。</p>
                    <button type="button" class="btn btn-lg btn-primary">想加入我们</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/cdfd226egw1euhlv3ehlcj21hc0u0dov.jpg" alt="Second slide"/>
                <div class="container">
                <div class="carousel-caption">
                    <h1>质量保障</h1>
                    <p>我们的每一件商品都是经过反复检查之后送到您的手中，支持7天无理由退货。</p>
                    <button type="button" class="btn btn-lg btn-primary">开始购物</button>
                </div>
            </div>
        </div>
    </div>
    @*轮播导航*@
    <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
</div>

<div class="container">
    @*图文介绍的布局*@
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">巴拉巴拉巴拉巴拉巴拉<span class="text-muted">小魔仙</span></h2>
            <p class="lead">抢到沙发了，据说第一个抢到的会活到100岁。巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>
        </div>
        <div class="col-md-5"><img class="featuretee-image img-respnsive center-block" src="~/Content/images/thumb_700.jpg" style="width:100%;" alt="Generric placeholder image"/></div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">巴拉巴拉巴拉巴拉巴拉<span class="text-muted">小魔仙</span></h2>
            <p class="lead">抢到沙发了，据说第一个抢到的会活到100岁。巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>
        </div>
        <div class="col-md-5 col-md-pull-7"><img class="featuretee-image img-respnsive center-block" src="~/Content/images/thumb_700.jpg" style="width:100%;" alt="Generric placeholder image"/></div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">巴拉巴拉巴拉巴拉巴拉<span class="text-muted">小魔仙</span></h2>
            <p class="lead">抢到沙发了，据说第一个抢到的会活到100岁。巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>
        </div>
        <div class="col-md-5"><img class="featuretee-image img-respnsive center-block" src="~/Content/images/thumb_700.jpg" style="width:100%;" alt="Generric placeholder image"/></div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">巴拉巴拉巴拉巴拉巴拉<span class="text-muted">小魔仙</span></h2>
            <p class="lead">抢到沙发了，据说第一个抢到的会活到100岁。巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>
        </div>
        <div class="col-md-5 col-md-pull-7"><img class="featuretee-image img-respnsive center-block" src="~/Content/images/thumb_700.jpg" style="width:100%;" alt="Generric placeholder image"/></div>
    </div>
    <hr class="featurette-divider">

</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    if ($('#index').hasClass("current"))
        $(this).removeClass("current");
    if ($('#contact').hasClass("current"))
        $(this).removeClass("current");
    $('#about').addClass("current");
</script>
